<div class="a">
    <div class="navbar">
        <div class="menu">

            <ul class="b" style="text-align: center">

                <li> <a routerLink="/home">Home</a> </li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a  routerLink="/contect us">Contect Us</a></li>



            </ul>

        </div>
    </div>
    <div class="c">
        <h1>START PAGE</h1>
    </div>



    <div class="e">
        <input class="f" type="button"  name="get started" value="Get Started">


    </div>














    <!-- <div class="container">
 <div class="row">
     <div class="col-md-3">
         <input type="text" name="" class="form-control" #uname placeholder="User Name">
      </div>
<div class="col-md-3">
    <button class="btn btn-success" (click)="onCreateUser(uname)">Create User</button>
</div>
</div>
<br>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>UserName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
            
                    <td>
                        {{user.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 </div>                  -->