<p>about works!</p>
 <div class="row">
   <div class="col-md-6">
        <div class="card" style="width: 15rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <!-- <h5 class="card-title">Laptop</h5> -->
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card.</p>
              <a href="#" class="btn btn-primary">knaw more about laptop</a>
            </div>
          </div>
         
            <div class="card" style="width: 15rem;">
                <!-- <h5 class="card-title">com</h5> -->
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card.</p>
                  <a href="#" class="btn btn-primary">knaw more about com</a>
                </div>
              </div>
        
             
                <div class="card" style="width: 15rem;">
                    <!-- <h5 class="card-title">tv</h5> -->
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card.</p>
                      <a href="#" class="btn btn-primary">knaw more about tv</a>
                    </div>
                  </div> 
                  
                    <div class="card" style="width: 15rem;">
                       <!-- <h5 class="card-title">mob</h5> -->
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card.</p>
                          <a href="#" class="btn btn-primary">knaw more about mob</a>
                        </div>
                      </div>
        
       <div class="col-md-12 bg-success text-white text-center">
         <!-- <h2 *ngIf="productSelected">please select any product</h2>
         <h2 *ngIf="productSelected"> laptop is s select </h2>  -->
         <button class="btnn">add to cart</button>
       </div>
       </div>
        </div>

